/* iMPORT fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Mulish&display=swap');


/* CUSTOM SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
}
 
html, body {
  height: 100%;
  font-family: 'Mulish', sans-serif;
  background-color: #f1ebeb;
}

body {
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* HEADER*/
.header {
  background-image:url("images/mobile/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;  
  max-width: 100%;
  height: 100%;  
}

.header__nav {
  justify-content: space-between;
}

.header__menu {
  display: none;
}

.header__menu__item--highlight {
  background-color: #fbfefe;
  color: black;
  border-radius: 20px;
  padding: 10px;
}

.header__button {
  border: none;
  color: white;
  background-color: #3ebeff;

}

.header__title { 
  letter-spacing: 0.2rem; 
  line-height: 1.2;
  font-family: 'EB Garamond', serif; 
  font-size: 2rem;
}

.header__title img {
    display: inline;
}


/* MAIN */
.main {  
  flex-direction: column;
}

.main__text,
.main__withImg,
#client-testimonials {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main__title {
  padding-bottom: 20px;
  font-family: 'EB Garamond', serif; 
  text-align: center;
}

.main__para {
  text-align: justify;
}

.main__para--learn {
  padding-top: 20px;
  text-transform: uppercase;
  text-align: left;
  text-decoration: underline pink 0.4rem;  
}

.main__para--learn:hover {
  text-decoration: underline yellow 0.4rem;  
  cursor: pointer;
}

.main__textImage {
  position: relative;
  height: 600px;
}

.main__textImage--one::before {
  background-image: url(images/mobile/image-graphic-design.jpg);
}

.main__textImage--two::before {
  background-image: url(images/mobile/image-photography.jpg);
}

.main__textImage::before {
  content:'';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__withImg {
  position: relative;
  padding-top: 400px;
}

.main__withImg--first {
  color: rgb(7, 63, 7);
}

.main__withImg--second {
  color: rgb(4, 4, 58)
}

/* TESTIMONIALS */
.testimonials__container,
.testimonials__client {
  flex-direction: column;
}

.testimonials__client img {
  border-radius: 50%;
  margin: 0 auto;
}

/* DISPLAY */
.display {
  grid-template-columns: 50% 50%;
}

/* FOOTER */
.footer {
  background-color: #91d3c6;
  color: #60a396;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  font-size: xx-large;
}

.footer__nav {
  width: 80%;
}

.footer__nav ul{
  justify-content: space-between;
  list-style: none;
}

.footer__icons {
  width: 50%;
  justify-content: space-around;
}

/* DESKTOP VERSION */
@media screen and (min-width: 481px) {
  /* HEADER */

  .header {
    background-image:url("images/desktop/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;  
    max-width: 100%;
    height: 100%;
  }

  .header__menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 500px;
  }

  .header__title {
    font-size: 1.5rem;
  }

  .header__title br{
    display: none;
  }
  .header__button {
    display: none;
  }

  /* MAIN */
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }

/*
Creating a 2D approach with flex for the MAIN section descendants. I set flex-grow and flex-shrink to 0, then controlling this using % (shortand: flex). the last value is the flex basis - the initial size occupied before space is distributed
*/

  .main >* {
    flex: 0 0 50%;
  }

/*
I tried to change the order of just the first two children, but they'd swap and make them the last, so i had to use the nth-of-type pseudoselector
*/

 .main__div:nth-of-type(1) {
    order: 2
 }

 .main__div:nth-of-type(2) {
  order: 1
}

.main__div:nth-of-type(3) {
  order: 3;
}

.main__div:nth-of-type(4) {
  order: 4;
}

.main__div:nth-of-type(5) {
  order: 5;
}

.main__div:nth-of-type(6) {
  order: 6;
}

/* TESTIMONIALS */
.testimonials__container {
  flex-direction: row;
}

/* DISPLAY */
.display {
  grid-template-columns: repeat(4, 25%);
}

/* FOOTER */
.footer {
  padding-bottom: 30px;
}

.footer__nav ul {
  justify-content: space-around;
  margin: 0 auto;
  width: 40%;
  padding-bottom: 20px;
}

.footer__icons--position {
  justify-content: space-around;
  margin: 0 auto;
  width: 15%;
  padding: 5px;
}

  

}
