/* iMPORT fonts */
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


/* CUSTOM SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
}
 
html, body {
  height: 100%;
  font-family: 'Mulish', sans-serif;
  background-color: #f1ebeb;
}

body {
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h2 {
  font-family: 'Fraunces', serif;
}

/* MOBILE FRIENDLY VERSION FOR 375px */
/* HEADER*/
.header {
  background-image:url("images/mobile/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;  
  max-width: 100%;
  height: 100%;  
}

.header__nav {
  justify-content: space-between;
}

.header__menu {
  display: none;
}

.header__menu__item--highlight {
  background-color: #fbfefe;
  color: black;
  border-radius: 20px;
  padding: 10px;
}

.header__button {
  border: none;
  color: white;
  background-color: #3ebeff;
}

.menu-icon:hover {
  cursor: pointer;
}

.mobileMenu--hidden,
.title__arrow--hidden {
  display: none;
}

/* 
I had used position fixed for the mobile menu but it is very distracting, so i needed to figure a way for it to disappear as the user scrolls. Done on JS 
*/
.mobileMenu {
  list-style: none;
  background-color: #fff;
  color: #635d5d;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  z-index: 1;
  position: fixed;
  text-align: center;
  transition: 1s ease-in-out;
  top:100px;
}

/* this is the Div holding triangle dimensions at the corner of the mobile menu*/
.mobileMenu__div {
  width: 0;
  height: 0;
}

/* 
Use borders to style the triangle to point upwards. i positioned it absolute within its parent container and moved it around using top and left values 
*/
.mobileMenu__arrow {
  border-top: 35px solid transparent;
  border-bottom: 35px solid white;
  border-left: 35px solid transparent;
  position: absolute;
  top: -60px;
  right: 0;  
}

.mobileMenu__item--highlight {
  color: #000;
  background-color: hsl(51, 100%, 49%);
  border-radius: 30px;
}

/*
Add classes to manage scrolling down and up
*/
.mobileMenu--scroll-up {
  top: 100px;
}

.mobileMenu--scroll-down {
  top: -100%;
}

.header__title { 
  letter-spacing: 0.2rem; 
  line-height: 1.2;
  font-family: 'EB Garamond', serif; 
  font-size: 1.5rem;
}

.title__arrow {
    display: inline;
    text-align: center;
}


/* MAIN */
.main {  
  flex-direction: column;
}

.main__text,
.main__withImg,
#client-testimonials {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main__title {
  padding-bottom: 20px;
  font-family: 'EB Garamond', serif; 
  text-align: center;
}

.main__para {
  text-align: justify;
}

.main__para--learn {
  padding-top: 20px;
  text-transform: uppercase;
  text-align: left;
  text-decoration: underline pink 0.4rem;  
}

.main__para--learnRed:hover {
  text-decoration: underline hsl(7, 99%, 70%) 0.4rem;  
  cursor: pointer;
}

.main__para--learnYellow:hover {
  text-decoration: underline hsl(51, 100%, 49%) 0.4rem;  
  cursor: pointer;
}

.main__textImage {
  position: relative;
  height: 600px;
}

.main__textImage--one::before {
  background-image: url(images/mobile/image-graphic-design.jpg);
}

.main__textImage--two::before {
  background-image: url(images/mobile/image-photography.jpg);
}

.main__textImage::before {
  content:'';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__withImg { 
  position: relative;
  padding-top: 400px;
}

.main__withImg--first {
  color: hsl(167, 40%, 24%);
}

.main__withImg--second {
  color: hsl(198, 62%, 26%);
}

/* TESTIMONIALS */
.testimonials__container,
.testimonials__client {
  flex-direction: column;
}

.testimonials__client img {
  border-radius: 50%;
  margin: 0 auto;
}

/* DISPLAY */
.display {
  grid-template-columns: 50% 50%;
}

/* FOOTER */
.footer {
  background-color: hsl(168, 59%, 69%);
  color: hsl(168, 34%, 41%);
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  font-size: xx-large;
}

.footer__nav {
  width: 80%;
}

.footer__nav ul{
  justify-content: space-between;
  list-style: none;
}

.footer__list li:hover,
.footer__icons i:hover {
  color: white;
  cursor: pointer;
}

.footer__icons {
  width: 50%;
  justify-content: space-around;
}

/* DESKTOP VERSION */


@media screen and (min-width: 768px) {
  /* HEADER */

  .header {
    background-image:url("images/desktop/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;  
    max-width: 100%;
    height: 100%;
  }

  .header__menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 500px;
  }

  .header__menu__item--highlight:hover {
    cursor: pointer;
    background: #a8dbf5;
    color: white;
  }

  .header__title {
    font-size: 1.5rem;
  }

  .header__title br{
    display: none;
  }

  .mobileMenu,
  .header__button {
    display: none;
  }

  /* MAIN */
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }

/*
Creating a 2D approach with flex for the MAIN section descendants. I set flex-grow and flex-shrink to 0, then controlling this using % (shortand: flex). the last value is the flex basis - the initial size occupied before space is distributed
*/

  .main >* {
    flex: 0 0 50%;
  }

/*
I tried to change the order of just the first two children, but they'd swap and make them the last, so i had to use the nth-of-type pseudoselector
*/

 .main__div:nth-of-type(1) {
    order: 2
 }

 .main__div:nth-of-type(2) {
  order: 1
}

.main__div:nth-of-type(3) {
  order: 3;
}

.main__div:nth-of-type(4) {
  order: 4;
}

.main__div:nth-of-type(5) {
  order: 5;
}

.main__div:nth-of-type(6) {
  order: 6;
}

/* TESTIMONIALS */
.testimonials__container {
  flex-direction: row;
}

/* DISPLAY */
.display {
  grid-template-columns: repeat(4, 25%);
}

/* FOOTER */
.footer {
  padding-bottom: 30px;
}

.footer__nav ul {
  justify-content: space-around;
  margin: 0 auto;
  width: 40%;
  padding-bottom: 20px;
}

.footer__icons--position {
  justify-content: space-around;
  margin: 0 auto;
  width: 15%;
  padding: 5px;
}

  

}
